<div *ngIf="loading" class="loading-indicator">
  <p>Loading performance data...</p>
</div>

<div *ngIf="!loading" class="chart-container">
  
  <p-card class="chart-card">
    <ng-template pTemplate="header">
      <h2>Ticket Statistics</h2>
    </ng-template>
    <div class="chart-content">
      <p-chart *ngIf="basicData?.datasets?.length > 0" type="bar" [data]="basicData" [options]="basicOptions" class="custom-chart"></p-chart>
      <p *ngIf="!basicData?.datasets?.length" class="no-data-message">You have no tickets assigned.</p>
    </div>
  </p-card>

<p-card class="chart-card">
  <ng-template pTemplate="header">
    <h2>Tickets by Beneficiary Company</h2>
  </ng-template>
  <div class="chart-content">
    <p *ngIf="noTicketGroupDataMessage" class="no-data-message">{{ noTicketGroupDataMessage }}</p>
    <p-chart *ngIf="ticketGroupChartData" type="bar" [data]="ticketGroupChartData" [options]="ticketGroupChartOptions"></p-chart>
  </div>
</p-card>


  
<p-card class="chart-card">
  <ng-template pTemplate="header">
    <h2>Feedback Sentiment Analysis</h2>
  </ng-template>
  <div class="chart-content">
    <p *ngIf="noSentimentDataMessage" class="no-data-message">{{ noSentimentDataMessage }}</p>
    <p-chart *ngIf="sentimentData" type="pie" [data]="sentimentData" [options]="sentimentOptions" class="custom-chart"></p-chart>
  </div>
</p-card>

  

</div>
