<mat-card class="example-card" appearance="outlined">
  <!-- Card Header -->
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img
        mat-card-avatar
        [src]="getUserPhoto()"
      />
    </div>
    
    <!-- Ticket Title -->
    <mat-card-title>{{ ticket.title }}</mat-card-title>

    <!-- Company Name -->
    <mat-card-subtitle>
        {{ companyName  }}
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Company Image -->
  <img mat-card-image [src]="companyPhotoUrl" alt="Company Image" />

  <!-- Card Content -->
  <mat-card-content>
    <p>
      <strong>Priority:</strong> {{ ticket.priority }} <br />
      <strong>Status:</strong> {{ ticket.status.toString() }} <br />
      <strong>Summary:</strong>
      <ng-container *ngIf="!isLoadingSummary; else loading">
        {{ summary || 'No Summary Available' }}
      </ng-container>
      <ng-template #loading>
        <p-progressSpinner 
          styleClass="w-4rem h-4rem" 
          strokeWidth="8" 
          fill="var(--surface-ground)" />
      </ng-template>
    </p>
  </mat-card-content>

  <!-- View Details Button -->
  <mat-card-actions>
    <button class="btn btn-primary btn-sm w-100" [routerLink]="['/tickets', ticket.id]">
      View Details
    </button>
  </mat-card-actions>
</mat-card>
