<ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesService.particlesLoaded($event)"></ngx-particles>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 mt-5 shadow-sm bg-opacity rounded-card">
    <div class="card-body rounded shadow">
      <form #registerForm="ngForm" (ngSubmit)="register()" class="p-4">
        <h2 class="mb-4 text-center">Register</h2>

        <!-- Username -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" required>
        </div>

        <!-- First Name -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="First Name" name="firstName" [(ngModel)]="model.firstName" required>
        </div>

        <!-- Last Name -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Last Name" name="lastName" [(ngModel)]="model.lastName">
        </div>

        <!-- Email -->
        <div class="form-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email">
        </div>

        <!-- Address -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="model.address" required>
        </div>

        <!-- Phone Number -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="model.phoneNumber">
        </div>

        <div class="form-group mb-3">
          <mat-button-toggle-group name="userType" [(ngModel)]="model.userType" aria-label="Select User Type" required>
            <mat-button-toggle [value]="0">Software Company User</mat-button-toggle>
            <mat-button-toggle [value]="1">Beneficiary Company User</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="form-group mb-3" *ngIf="model.userType !== null">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Select Company</mat-label>
            <mat-select [(ngModel)]="model.companyName" name="companyName" required>
              <ng-container *ngIf="model.userType === 0">
                <mat-option *ngFor="let company of softwareCompanies" [value]="company.name">
                  {{ company.name }}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="model.userType === 1">
                <mat-option *ngFor="let company of beneficiaryCompanies" [value]="company.name">
                  {{ company.name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" required minlength="4" maxlength="12">
        </div>

        <!-- Register Button -->
        <button class="btn btn-primary w-100 mb-2" type="submit">Register</button>

        <!-- Cancel Button -->
        <button class="btn btn-secondary w-100" type="button" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
