<ngx-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesService.particlesLoaded($event)"></ngx-particles>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 mt-5 shadow-sm bg-opacity rounded-card">
    <div class="card-body rounded shadow">
      <form [formGroup]="registerForm"  (ngSubmit)="register()" class="p-4">
        <h2 class="mb-4 text-center">Register</h2>

        <!-- Username -->
        <div class="form-group mb-3">
          <input [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
          type="text" class="form-control" placeholder="Username" formControlName="username">
          <div class="invalid-feedback">Username is required!</div>

        </div>

        <!-- First Name -->
        <div class="form-group mb-3">
          <input [class.is-invalid]="registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched" 
          type="text" class="form-control" placeholder="First Name" formControlName="firstName">
          <div class="invalid-feedback">First Name is required!</div>
        </div>

        <!-- Last Name -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
        </div>

        <!-- Email -->
        <div class="form-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
        </div>

        <div class="form-group mb-3">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Hire Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hireDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="registerForm.get('hireDate')?.errors && registerForm.get('hireDate')?.touched" class="invalid-feedback">
            <div *ngIf="registerForm.get('hireDate')?.hasError('required')">Date is required!</div>
          </div>
        </div>
        
        

        <!-- Phone Number -->
        <form [formGroup]="registerForm">
          <ngx-material-intl-tel-input [fieldControl]="registerForm.get('phoneNumber')" [required]="true" [autoIpLookup]="true"
            [iconMakeCall]="false"
            [includeDialCode] = "true"
            [preferredCountries]="['us', 'gb', 'ro']"
            [enableSearch] = "true"
            [numberValidation]="true"
            autoSelectedCountry='ro'
            ></ngx-material-intl-tel-input>
        </form>

        <div class="form-group mb-3">
          <mat-button-toggle-group formControlName="userType" aria-label="Select User Type">
            <mat-button-toggle [value]="0">Software Company User</mat-button-toggle>
            <mat-button-toggle [value]="1">Beneficiary Company User</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="form-group mb-3">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Select Company</mat-label>
            <mat-select formControlName="companyName">
              <ng-container *ngIf="registerForm.get('userType')?.value === 0">
                <mat-option *ngFor="let company of softwareCompanies" [value]="company.name">
                  {{ company.name }}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="registerForm.get('userType')?.value === 1">
                <mat-option *ngFor="let company of beneficiaryCompanies" [value]="company.name">
                  {{ company.name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        
        
     

        <!-- Password -->
        <div  class="form-group mb-3">
          <input [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
           type="password" class="form-control" placeholder="Password" formControlName="password">
          <div *ngIf="registerForm.get('password')?.hasError('required')"
           class="invalid-feedback">Password is required!</div>
           <div *ngIf="registerForm.get('password')?.hasError('minlength')"
           class="invalid-feedback">Password must have minimum 4 characters!</div>
           <div *ngIf="registerForm.get('password')?.hasError('maxlength')"
           class="invalid-feedback">Password must have maximum 12 characters!</div>
        </div>

        <div class="form-group mb-3">
          <input [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
           type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
           <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
           class="invalid-feedback">Confrim password is required!</div>
           <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')"
           class="invalid-feedback">Confirm password should match the password!</div>
        </div>

            <!-- Photo Upload -->
          <!-- File Upload -->
          
          <div class="form-group mb-3">
            <input
              type="file"
              class="form-control"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
            <!-- Display selected file with a remove button -->
            <div *ngIf="registerForm.get('file')?.value">
              <p class="mt-2">
                <strong>Selected File:</strong> {{ registerForm.get('file')?.value.name }}
                <button type="button" class="btn btn-sm btn-danger ms-2" (click)="removeFile()">Remove</button>
              </p>
            </div>
          </div>
                   

            @if(validationErrors){
              <div class="alert alert-danger">
                <ul>
                  @for(error of validationErrors; track $index)
                  {
                    <li>{{error}}</li>
                  }
                </ul>
              </div>
            }

        <!-- Register Button -->
        <button class="btn btn-primary w-100 mb-2" type="submit">Register</button>

        <!-- Cancel Button -->
        <button class="btn btn-secondary w-100" type="button" (click)="cancel()">Cancel</button>

        <p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status| json}}</p>
      </form>
    </div>
  </div>
</div>



