<p-carousel 
  [value]="contracts" 
  [numVisible]="1" 
  [numScroll]="1" 
  [circular]="true" 
  [responsiveOptions]="responsiveOptions"
  (onPage)="handlePageChange($event)">
  <ng-template let-contract pTemplate="item">
    <div>
      <app-contract-card [contract]="contract"></app-contract-card>
    </div>
  </ng-template>
</p-carousel>


<div *ngIf="!contracts.length && !loading" class="no-contracts">
  <p>No contracts available for this company.</p>
</div>



<div class="actions" *ngIf="contracts.length">
  <button class="btn btn-primary" (click)="navigateToTickets()">Select Contract</button>
</div>