<div class="userapp-container">
  <!-- USER INFO -->
  <div class="user-info">
    <p-card
      header="{{ userapp?.userName }}"
      subheader="{{ userapp?.companyName }}"
      class="p-card-custom"
    >
      <ng-template pTemplate="header">
        <img
          alt="{{ userapp?.firstName }} {{ userapp?.lastName }}"
          [src]="userapp?.photoUrl || '/user.png'"
          class="header-image"
          [ngClass]="{ 'online-blink': presenceService.onlineUsers().includes(userapp?.userName ?? '') }"
        />
      </ng-template>

      <p>
        <strong>Name:</strong> {{ userapp?.firstName }} {{ userapp?.lastName }} <br />
        <strong>Email:</strong> {{ userapp?.email }} <br />
        <strong>Phone:</strong> {{ userapp?.phoneNumber }} <br />
        <strong>Rating:</strong>
        <p-rating
          [ngModel]="userapp?.rating"
          [readonly]="true"
          [cancel]="false"
        ></p-rating>
        <br />
        <strong>Company:</strong> {{ userapp?.companyName }} <br />
        <strong>Hire Date:</strong> {{ userapp?.hireDate | date: 'dd MMM yyyy' }} <br />
        <img
          [src]="userapp?.companyPhotoUrl || '/company.png'"
          alt="{{ userapp?.companyName }}"
          class="company-logo"
        />
      </p>
    </p-card>
  </div>

  <!-- TAB CONTENT -->
  <div class="user-tabs">
    <mat-tab-group *ngIf="userapp?.userType === 'SoftwareCompanyUser'">
      <mat-tab label="Tickets">
        <div class="tab-scroll">
          <app-tickets-userapp-list></app-tickets-userapp-list>
        </div>
      </mat-tab>
      <mat-tab label="Performance">
        <div class="tab-scroll">
          <app-performance-page *ngIf="userapp?.userName" [username]="userapp?.userName || ''"></app-performance-page>
        </div>
      </mat-tab>
      <mat-tab label="Feedback">
        <div class="tab-scroll">
          <app-feedback-user-list *ngIf="userapp?.id" [userId]="userapp?.id ?? 1"></app-feedback-user-list>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group *ngIf="userapp?.userType === 'BeneficiaryCompanyUser'">
      <mat-tab label="Tickets">
        <div class="tab-scroll">
          <app-tickets-userapp-list></app-tickets-userapp-list>
        </div>
      </mat-tab>
      <mat-tab label="Performance">
        <div class="tab-scroll">
          <app-performance-page-beneficiary *ngIf="userapp?.userName" [username]="userapp?.userName || ''"></app-performance-page-beneficiary>
        </div>
      </mat-tab>
      <mat-tab label="Feedback">
        <div class="tab-scroll">
          <app-feedback-user-list *ngIf="userapp?.id" [userId]="userapp?.id ?? 1"></app-feedback-user-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
