@if(userapp){
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="alert alert-info" *ngIf="isFormDirty()">
                    <p><strong>Important:</strong>
                        Any unsaved changes will be lost. Please make sure to save your changes before leaving this page.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="row">
            <!-- Left Panel (User Details) -->
            <div class="col-lg-4 col-md-5 col-sm-12">
                <h1>User Detail</h1>
                <p-card
                    header="{{ userapp.userName }}"
                    subheader="{{ userapp.companyName }}"
                    class="p-card-custom w-100"
                >
                    <ng-template pTemplate="header">
                        <img alt="{{ userapp.firstName }} {{ userapp.lastName }}" 
                             [src]="userapp.photoUrl || '/user.png'" 
                             class="img-fluid rounded shadow user-photo" />
                    </ng-template>
    
                    <p>
                        <strong>Name:</strong> {{ userapp.firstName }} {{ userapp.lastName }} <br />
                        <strong>Email:</strong> {{ userapp.email }} <br />
                        <strong>Phone:</strong> {{ userapp.phoneNumber }} <br />
                        <strong>Rating:</strong>
                        <p-rating [ngModel]="userapp.rating" [readonly]="true" [cancel]="false"></p-rating> <br />
                        <strong>Company:</strong> {{ userapp.companyName }} <br />
                        <img [src]="userapp.companyPhotoUrl || '/company.png'" 
                             alt="{{ userapp.companyName }}" 
                             class="company-logo img-fluid" />
                    </p>
    
                    <ng-template pTemplate="footer">
                        <div class="d-grid">
                            <p-button 
                                [disabled]="!isFormDirty()" 
                                type="submit" 
                                form="editForm" 
                                label="Save" 
                                icon="pi pi-save" 
                                styleClass="w-100">
                            </p-button>
                        </div>
                    </ng-template>
                </p-card>
            </div>
    
            <!-- Right Panel (Form) -->
            <div class="col-lg-8 col-md-7 col-sm-12">
                <mat-tab-group>
                    <mat-tab label="About">
                        <form [formGroup]="userForm" (ngSubmit)="updateUserApp()" id="editForm" class="p-3 shadow rounded bg-white">
                            <!-- Phone Number Card -->
                            <div class="card shadow-sm p-3 mb-3">
                                <h5 class="card-title">Phone Number</h5>
                                <ngx-material-intl-tel-input
                                [fieldControl]="userForm.get('phoneNumber')"
                                [required]="true"
                                [autoIpLookup]="true"
                                [iconMakeCall]="false"
                                [includeDialCode]="true"
                                [preferredCountries]="['us', 'gb', 'ro']"
                                [enableSearch]="true"
                                [numberValidation]="true"
                                autoSelectedCountry="ro"
                                outputNumberFormat="E164"
                                (onBlur)="userForm.get('phoneNumber')?.markAsDirty()">
                                </ngx-material-intl-tel-input>              
                                <div *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched" class="text-danger">
                                    Please enter a valid phone number.
                                </div>
                            </div>

                            <!-- Email Card -->
                            <div class="card shadow-sm p-3 mb-3">
                                <h5 class="card-title">Email</h5>
                                <input type="email" 
                                       id="email"
                                       formControlName="email" 
                                       class="form-control" 
                                       placeholder="Enter email">
                                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                                    Please enter a valid email.
                                </div>
                            </div>

                            <!-- Photo Upload Card -->
                            <div class="card shadow-sm p-3 mb-3">
                                <h5 class="card-title">Profile Photo</h5>
                                <app-photo-edit [userApp]="userapp"></app-photo-edit>
                            </div>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
}
