<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Welcome, {{ userName }}</h2>
  </div>

  <div class="button-group">
    <p-button icon="pi pi-chart-bar" *ngIf="userType === 'SoftwareCompanyUser'" (click)="setSelectedComponent('performance')" severity="primary"/>


    <p-button icon="pi pi-clipboard"*ngIf="userType === 'SoftwareCompanyUser'" (click)="setSelectedComponent('assignTickets')" severity="secondary"/>

    <p-button icon="pi pi-comments" (click)="setSelectedComponent('feedback')" severity="info"/>


    <p-button icon="pi pi-chart-pie" *ngIf="userType === 'BeneficiaryCompanyUser'" (click)="setSelectedComponent('statistics')" severity="primary"/>

    <p-button icon="pi pi-pencil" *ngIf="userType === 'BeneficiaryCompanyUser'" (click)="setSelectedComponent('createTicket')" severity="success"/>
  </div>

  <p-panel header="Dashboard Section" class="dashboard-panel">
    <div class="scroll-container">
      <div class="content-container">
        
        <ng-container *ngIf="selectedComponent === 'performance' && userType === 'SoftwareCompanyUser'">
          <app-performance-page class="dashboard-content" [username]="userName || ''"></app-performance-page>
        </ng-container>

        <ng-container *ngIf="selectedComponent === 'assignTickets' && userType === 'SoftwareCompanyUser'">
          <app-contract-software-list class="dashboard-content"></app-contract-software-list>
        </ng-container>

        <ng-container *ngIf="selectedComponent === 'statistics' && userType === 'BeneficiaryCompanyUser'">
          <app-performance-page-beneficiary class="dashboard-content" [username]="userName || ''"></app-performance-page-beneficiary>
        </ng-container>

        <ng-container *ngIf="selectedComponent === 'feedback' && userId">
          <app-feedback-user-list class="dashboard-content" [userId]="userId"></app-feedback-user-list>
        </ng-container>

        <ng-container *ngIf="selectedComponent === 'createTicket' && userType === 'BeneficiaryCompanyUser'">
          <app-create-ticket class="dashboard-content"></app-create-ticket>
        </ng-container>

      </div>
    </div>
  </p-panel>
</div>
